tmux/plugins
composer/auth.json
composer/vendor
license.*
licence.*

cursor/globalStorage
cursor/History
cursor/workspaceStorage

vscode/globalStorage/*
!vscode/globalStorage/alefragnani.project-manager
vscode/History
vscode/sync
vscode/workspaceStorage

windsurf/globalStorage
windsurf/History
windsurf/workspaceStorage

zed/keymap_backup.json
zed/prompts
