tmux/plugins
composer/auth.json
composer/vendor

cursor/globalStorage
cursor/History
cursor/workspaceStorage

vscode/globalStorage/*
!vscode/globalStorage/alefragnani.project-manager
vscode/History
vscode/sync
vscode/workspaceStorage

windsurf/globalStorage
windsurf/History
windsurf/workspaceStorage
