layout name="OptimizeFunnels Layout" {
    tab name="OptimizeFunnels" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane cwd="~/Code/influendo/optimizepress/public/wp-content/plugins/op-funnels"

            pane split_direction="horizontal" {
                pane cwd="~/Code/influendo/optimizepress/public/wp-content/plugins/op-funnels"
                pane cwd="~/Code/influendo/optimizepress/public/wp-content/plugins/op-funnels"
            }
        }

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Logs"  {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        pane cwd="~/Code/influendo/optimizepress/public/wp-content/logs" command="lnav" args="debug.log"

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Funnels Logs"  {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        pane cwd="~/Code/influendo/optimizepress/public/wp-content/plugins/op-funnels" command="lnav" args="storage/logs/op.log"

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
