.explorer-folders-view {
  transform-origin: 0 0;
}
.explorer-viewlet .monaco-list .monaco-list-row {
  font-family: "IBM Plex Sans", monospace;
  font-size: 13px !important;
  line-height: 26px !important;
  opacity: 0.8 !important;
}
.explorer-viewlet .monaco-icon-label .label-name {
  font-size: 13px !important;
  opacity: 0.8 !important;
}
