.part.editor .content {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.sidebar.right .composite.title {
    display: none !important;
}

.sidebar.right {
    height: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.sidebar.right .content {
    height: 100% !important
}

.split-view-view .sidebar.right .content  {
    height: 100% !important;
}

.tabs-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.tabs-container .tab {
    font-family: "IBM Plex Sans", monospace !important;
    font-size: 11px !important;
    border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.tabs-container .tab .label-name {
    font-family: "IBM Plex Sans", monospace !important;
    font-size: 12px !important;
}

.tabs-container .monaco-icon-label::before {
    display: none !important;
}

.explorer-viewlet .monaco-list .monaco-list-row {
    /* font-family: "IBM Plex Sans", monospace; */
    font-family: "MonaspiceKr Nerd Font", monospace !important;
    font-size: 12px !important;
    line-height: 28px !important;
    opacity: 0.8 !important;
}
.explorer-viewlet .monaco-icon-label .label-name {
    font-size: 12px !important;
    opacity: 0.8 !important;
}
